/* * {
    box-sizing: border-box;
} */
/* Handwritten CSS */
body {
   margin: 0;
   font-family: 'IBM Plex Sans', sans-serif;
   /* background-image: url("/assets/placeholders/partners.png"); */
}

.headline {
   line-height: normal;
   padding-top: 20px;

}

.subheader {
   margin-bottom: 0px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


.column {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 0px;
}

.column1 {
   flex-direction: column;
   justify-content: space-between;
   padding: 4rem;
}

.column2 {
   flex-direction: column;
   padding: 4rem;
}

.upper-border {
   border-top: 1px solid grey;
   padding-bottom: 5px !important;
}

.partners-img {
   width: 120px;
   height: auto;
   align-content: center;
 /* Do not grow or shrink, and base width is 25% of the flex container */
}

.flex-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: left !important;
   flex-wrap: wrap;
   gap: 2rem;
}

.flex-row-start {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: left;
   flex-wrap: wrap;
   gap: 6.5rem;
}

.flex-item {
   flex: 0 0 20%; /* Do not grow or shrink, and base width is 25% of the flex container */
}

/*logo css*/

.aws {
      width: 5rem;
      height: auto;
}

.sm-logo {
   width: 6rem;
   height: auto;
}

.lg-logo {
   width: 12rem;
   height: auto;
   margin-left: -35px;
}

/* end logo css */
 
/* .column2 {
   justify-content: flex-start;
   padding: 4rem;
   background-image: url(/assets/img/logos/home.png);
   background-size: cover;
   background-position: center;
} */

.h3 {
   padding-top: 4px;
}

.pb-90 {
   padding-bottom: 85px;
}

.pb-50 {
   padding-bottom: 94px;
}

.mg-10 {
   margin-bottom: 50px;
}

.white-out { 
   color: white !important;
}

.white-image {
   filter: brightness(0) invert(1);
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}
