/* * {
    box-sizing: border-box;
} */
/* Handwritten CSS */
body {
   margin: 0;
   font-family: 'IBM Plex Sans', sans-serif;
   /* background-image: url("/assets/placeholders/partners.png"); */
}

.headline {
   line-height: normal;
   padding-top: 20px;

}

.subheader {
   margin-bottom: 0px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


.column {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 0px;
}

.column1 {
   flex-direction: column;
   justify-content: space-between;
   padding: 4rem;
}

.upper-border {
   border-top: 1px solid grey;
   padding-bottom: 5px !important;
}

.partners-img {
   width: 120px;
   height: auto;
   align-content: center;
}

.flex-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: left;
   flex-wrap: wrap;
   gap: 1rem;
}

.flex-row-start {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: left;
   flex-wrap: wrap;
   gap: 6.5rem;
}

.flex-item {
   flex: 0 0 20%; /* Do not grow or shrink, and base width is 25% of the flex container */
}

.aws {
      width: 5rem;
      height: auto;
}

.cisco {
   width: 110px;
   height: auto;
   margin-bottom: 10px;
}

/* .column2 {
   justify-content: flex-start;
   padding: 4rem;
   background-image: url(/assets/img/logos/home.png);
   background-size: cover;
   background-position: center;
} */

.h3 {
   padding-top: 4px;
}