Global Styles

body {
    margin: 0;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.column1 {
    justify-content: space-between; /* Aligns content to the top */
    align-content: center;
    padding: 4rem;
}

/* Primary button */
.bx--btn {
    font-size: 1rem !important;
    min-width: 20% !important;
    max-height: 3rem;
    margin-right: 5% !important;
}

.secondary-btn {
    background-color: #002D9C !important;
    min-width: 20% !important;
}

.gjs-cell-1B {
    display: inline !important;
}

/* images */
.global-header {
background-image: url('/assets/img/SVG/rebus.svg'); /* Path to your logo image */
background-size: contain; /* Adjusts the size of the logo to fit within the element */
background-repeat: no-repeat; /* Prevents the logo from repeating */
background-position: left center; /* Positions the logo on the left, vertically centered */
height: 100px; /* Adjust the height as needed */
width: 100%; /* Ensures the header spans the width of the page */
}

.grayscale {
    filter: grayscale(100%);
}

.bx--btn .bx--btn__icon {
    position: absolute;
    right: 1rem;
    width: 2rem !important;
    height: 2rem !important;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* text */

.h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 58px;
    font-style: normal;
    font-weight: 300;
    padding: 0px 0px 0px 0px;
    height: 75px;
    border: none;
  }

    .h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: light;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    color: #0062FF;
  }


  .h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 300 !important;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
  }

  .partners-img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flex-row {
      display: flex;          /* Enables flexbox */
      flex-direction: row;    /* Aligns children in a horizontal row; this is default and can be omitted */
      justify-content: flex-start; /* Aligns children at the start of the flex container */
      align-items: center;    /* Vertically centers the children in the flex container */
      gap: 10px;              /* Sets space between children */
  }

/* backgrounds */